.NoteListMain ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.NoteListMain__button-container {
  max-width: 380px;
  margin: 0 10px;
}

.NoteListMain__add-note-button {
  margin: 0 auto 20px;
  background-color: #b5b3b3;
}
.NoteListMain__add-note-button:hover {
  background-color: #975d5d;
  color: white;
}
